PORT=5000
MONGO_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/expert-booking?retryWrites=true&w=majority&appName=real-time-expert-booking-system
NODE_ENV=development
CORS_ORIGIN=*
